<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>
<p th:text="${book.getId()}">VALUE</p>

<div th:if="${book.getHolder() == null}">
    <div> Эта книга свободна. Кому назанчить её?</div>
    <form th:method="POST" th:action="@{/books/{id}/add(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>
<div th:unless="${book.getHolder() == null}">
    <p th:text = "${book.getHolder()}"></p>
    <form th:method="GET" th:action="@{/books/{id}/del(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>
<hr>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

<p><a href="/books">Назад</a></p>

</body>
</html>